Our DataFrame is the list of French mayors in 2014:

https://www.data.gouv.fr/storage/f/2014-04-25T17-51-58/maires-25-04-2014.xlsx

this file is also in `data/maires-25-04-2014.xlsx` so no reason to reload it...

### Load the file in a DataFrame

Notre tableau est la liste des maires français en 2014:

https://www.data.gouv.fr/storage/f/2014-04-25T17-51-58/maires-25-04-2014.xlsx

ce fichier est aussi dans `data/maires-25-04-2014.xlsx` donc aucune raison de le recharger ...

## Charger le fichier dans un DataFrame

In [1]:
import pandas as pd

df = pd.read_csv("data/maires-25-04-2014.csv")

In [2]:
df

,Liste des maires au 25 avril 2014,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,(certaines communes n'ont pas encore été rense...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Code du département (Maire),Libellé de département (Maires),Code Insee de la commune,Libellé de la commune,Population de la commune,Nom de l'élu,Prénom de l'élu,Civilité,Date de naissance,Code profession,Libellé de la profession
3,1,AIN,1,L'Abergement-Clémenciat,780,BOULON,Daniel,M,04/03/1951,61,Retraités salariés privés
4,1,AIN,2,L'Abergement-de-Varey,234,ORSET,Max,M,02/11/1947,65,Autres retraités
...,...,...,...,...,...,...,...,...,...,...,...
35885,ZP,POLYNESIE FRANCAISE,57,Ua-Pou,2173,KAIHA,Joseph,M,07/12/1960,43,Enseignants 1er deg.-directeurs école
35886,ZP,POLYNESIE FRANCAISE,58,Uturoa,3697,TEROOATEA,Sylviane,Mme,13/10/1966,50,Cadres sup. (entreprises publiques)
35887,ZS,SAINT PIERRE ET MIQUELON,501,Miquelon-Langlade,635,DE LIZARRAGA,Jean,M,17/12/1943,63,Retraités fonct.publique (sf enseig.)
35888,ZS,SAINT PIERRE ET MIQUELON,502,Saint-Pierre,5676,CLAIREAUX,Karine,Mme,15/11/1963,49,Fonctionnaires de catégorie C
35889,NaN,NaN,Nombre total:,35886,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Correct the dataframe

We can see there are issues:
    
* first 3 lines are just comments to ignore
* last line holds sums which we don't want
* names of columns are in the fourth line
* names of columns are too long (e.g. 'Code du département (Maire)') so let define our name and ignore line 4 too (the title)

Show head of the resulting DataFrame.

Note: it can be useful to reaload the DataFrame with the right arguments.

## Corriger le tableau

Nous pouvons voir qu'il y a des problèmes:
    
* les 3 premières lignes ne sont que des commentaires à ignorer
* la dernière ligne contient des sommes que nous ne voulons pas
* les noms des colonnes sont dans la quatrième ligne
* les nom des colonnes est trop long (par exemple, "Code du département (Maire)"), alors définissons notre nom et ignorons également la ligne 4 (le titre)

Afficher le début du tableau après corrections.

Note : il est conseillé de recharger le tableau correctement.

### Cast birth and population

Birth and population are useless String, cast them to what they should be.

## Naissance et population

* Mettre au bon type les colonnes naissance et population.
* Ajouter une colonne "age". Utilisez la date de naissance pour ajouter une colonne 'age'. Vous devrez peut-être calculer en année car TimeDelta est en jours par défaut.

### Add a column 'age'

Use the birthdate to add a column 'age'. You may need to compute in year since TimeDelta are in days by default.

### Looking at data

* display the line of Paris
* sort all cities per population, largest first
* give total population
* give percentage of male mayors
* give statitics on the age of mayors

## Travail sur des données

* Afficher la ligne de paris
* Trier toutes les villes par population, la plus grande en premier
* Calculer la population totale
* Donner le pourcentage d'hommes qui sont maires
* Donner des statistiques sur l'âge des maires

### Group data

Let's group all cities of the same department and

* sum the population with `np.sum`
* average the age of mayors with `np.mean`
* count the number of cities with `np.size`

## Regrouper les données

Grouper toutes les villes du même département et

* Additionner la population avec `np.sum`
* Calculer l'âge moyen des maires avec `np.mean`
* Compter le nombre de villes avec `np.size`